
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.idea
.mtj.tmp/
.mvn/timing.properties
.project
.settings
.springBeans
.sts4-cache
.vscode/
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
build/
buildNumber.properties
dependency-reduced-pom.xml
HELP.md
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
replay_pid*
target/
