activemq-data/
.apt_generated
bin/
/build/
buildNumber.properties
build.sh
buildSrc/build/
*.class
.classpath
*.ctxt
*.db
dependency-reduced-pom.xml
derby.log
/dist/
.DS_Store
*.ear
.factorypath
/framework-bom/build
HELP.md
hs_err_pid*
.idea
*.iml
integration-repo
/integration-tests/build
*.ipr
ivy-cache
*.iws
*.jar
jmx.log
jxl.log
*.log
.mtj.tmp/
.mvn/timing.properties
*.nar
/nbbuild/
/nbdist/
/.nb-gradle/
/nbproject/private/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
.project
*.rar
release.properties
replay_pid*
.settings
.springBeans
/spring-*/build
/spring-core/kotlin-coroutines/build
spring-test/test-output/
/src/asciidoc/build
!**/src/main/**/target/
!**/src/test/**/target/
.sts4-cache
target/
*.tar.gz
.vscode/
*.war
*.zip
