<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<header>
	<div class="content">
		<h1 class="title"><a href="/">Sheet</a></h1>
		<div th:if="${userId}" class="userSettings">
			<p th:text="${username}"></p>
			<a href="/profile/"><img class="avatar" th:src="${'/users/'+userId+'/pfp'}"></a>
			<a href="/posting/"><button class=>¡Publica!</button></a>
			<a href="/create/"><button class=>¡Crea tu comunidad!</button></a>
			<a href="/@${ profileUser.username }/communities"><button class=>Mis comunidades</button></a>
			<form method="POST" action="/logout">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button type="submit" name="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
			</form>
		</div>
	</div>
</header>

<div class="post card" th:fragment="post(body)">
	<div class="title border">
		<img class="avatar" th:src="${'/users/' + post.user.id + '/pfp'}">
		<a th:text="${ post.getUser().getUsername() }"></a>
	</div>
	<div th:replace="${body}"></div>
	<div class="comments border">
		<a th:text='${ post.getComment().size() + " comentario" + (post.comment.size() == 1 ? "" : "s") }'></a>
		<i class="fa-solid fa-arrow-right"></i>
	</div>
</div>

<div class="timeline" th:fragment="timeline"
		data-masonry='{ "itemSelector": ".card", "gutter": 8, "horizontalOrder": true}'>
	<div class="post card" th:if="${posts}" th:each="post,iterStat : ${posts}" th:include=":: post(~{::.body})">
		<img class="body" src="https://picsum.photos/1280/720"></img>
	</div>
	
	<script>
		window.addEventListener("load", (e) => {
		document.body.appendChild(Object.assign(document.createElement('script'), {
			  type: 'text/javascript',
			  src: 'https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js',
			  onload: () => this.onScriptLoaded()
		}))});
	</script>
</div>

<div class="login">
	<form action="/login" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		
		<p> Nombre de usuario</p>
		<input type="text" name="username" placeholder="usuario" required />
		
		<p> Contraseña</p>
		<input type="password" name="password" placeholder="correct horse battery staple" required />
		
		<button type="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
		
		<p><a href="/signup">Si no tienes cuenta, ¡regístrate aquí!</a></p>
	</form>
</div>

</html>