<html>
<body>
	<form action="/user">
		<p>Nombre: </p>
			<input type="text" name="firstName"/>
		<p>Apellido: </p>
			<input type="text" name="surname"/>
		<p>E-Mail: </p>
			<input type="text" name="e_mail"/>
		<p>Birth of date: </p>
			<input type="text" name="date_birth"/>
		<p>Telephone_number: </p>
			<input type="text" name="tl_number"/>
		<p>Biography: </p>
			<textarea name="bio" rows=5 cols=40></textarea>/>
		<p>Username: </p>
			<input type="text" name="username"/>
		<p>Password: </p>
			<input type="text" name="password"/>
			
		<input type="submit" value="Create"/>
		
		<a href="/">BACK</a>
	</form>
</body>
</html>