<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sheet</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header style="font-family: Archivo; text-align: center; margin: 0; font-size: 32px;">
      <span>Sheet</span>
    </header>
    <div id="container">
      <div class="placeholder" style="height: 128px"></div>
      <div class="placeholder" style="height: 512px"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    </div>
  </body>
</html>