<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/structure :: head" />
<body>

	<header th:replace="fragments/widgets :: header"></header>
		
	<div id="container">
		<img class="avatar" src="https://picsum.photos/128/128">
		<h2>[[ ${profileUser.username} ]]</h2>
		<p th:if="${ profileUser.bio }" th:text="${ profileUser.bio }"></p>
		<div class="timeline grid" th:include="fragments/widgets :: timeline" 
		data-masonry='{ "itemSelector": ".card", "gutter": 8, "horizontalOrder": true}'></div>
	</div>

</body>
</html>